*.pyc
.DS_Store

/temp/
/.project
/.pydevproject

# checkpoint
checkpoints/

# For PyCharm users
.idea/

pretrained_models/
.vscode/settings.json
bughouse_testset.csv
*.orig
dataset/
models/
filtered_dataset_small - Copy.csv
data/
dataBundleCompressed/
datapkl/
dataset_tuning/
.ipynb_checkpoints/DemoNN-checkpoint.ipynb
logs/
dataReal/
dataCorrected/
dataSmallPart/
dataset_pkl/
.ipynb_checkpoints/
finalModel/FinalModel05072019.h5
dataRaw/
datasetSmallPart/
finalModel/FinalModelNewData.h5
finalModel/FinalModelSmallData.h5
finalModel/
