*.pyc
.DS_Store

/temp/
/.project
/.pydevproject

# checkpoint
checkpoints/

# For PyCharm users
.idea/

pretrained_models/
.vscode/settings.json
bughouse_testset.csv
*.orig
dataset/
models/
filtered_dataset_small - Copy.csv
dataBundleCompressed/
